body {
  margin: 0;
  font-family: sans-serif;
  background-image: url(../img/background.jpg);
}
header {
  height: 500px;
  background-position: center;
  background-size: cover;
  color: white;
}
header a img {
  height: 65px;
  width: 65px;
}
h1 {
  font-size: 50px;
  letter-spacing: -3px;
}
h1 span {
  color: hsl(194, 84%, 66%);
}
h1 a{
  text-decoration: none;
  color: inherit;
}
h1, ul {
  margin: 0;
  display: inline-block;
}
ul {
  float: right;
}
ul li{
  display: inline-block;
  line-height: 50px;
  padding: 0 20px;
  margin-left: 10px;
}
ul li:hover{
  cursor: pointer;
}
img {
padding-left: 60px;
padding-top: 110px;
}
