@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');
body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}
header {
  background-image: url(../img/slide-2.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
}
nav ul li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
  margin: 0;
}
nav ul li a {
color: white;
text-decoration: none;
}
h1 {
  text-transform: uppercase;
  color: white;
  padding-left: 90px;
  font-size: 30px;
}
#home {
  background-color: hsl(180, 98%, 25%)
}
