// Colors
$purple: #6441a4;
$lightgray: #7f888f;
$darkgray: #3d4449;

// Fonts
$opensans: 'Open Sans';
$robotoslab: 'Roboto Slab';

// Font Sizes
$genericheaders: 26px;
Contact GitHub API Training Shop Blog About
© 2017 GitHub, Inc. Terms Privacy Sec
