@import '_imports';

body {
background-color: #fafafa;
margin-left: 75px;
margin-right: 75px;
}

header {
display: flex;
align-items: center;
justify-content: space-between;
border-bottom: 5px solid $purple;
font-family: $robotoslab;

  a {
    text-decoration: none;
  }

  a h3 {
    font-weight: normal;
    color: $lightgray;
    transition: color 250ms;
  }

  h3:hover, span:hover {
    color: $purple;
  }

  span {
    color: black;
    font-weight: bold;
  }

  .social a {
    color: $lightgray;
    transition: color 300ms, font-size 300ms, padding 300ms;
  }

  .social a:hover {
    color: $purple;
    font-size: 25px;
    padding: 15px;
  }
}

p {
font-family: $opensans;
}

.first {
display: flex;

  div h1 {
    margin-top: 75px;
    font-family: $robotoslab;
    color: $darkgray;
    font-weight: 700;
    font-size: 52px;
  }

  div img {
    width: 100%;
    border-radius: 7px;
  }

  div p {
    color: $lightgray;
  }
}

hr {
border: 0;
height: 0;
border-top: 1px solid rgba(0, 0, 0, 0.1);
border-bottom: 1px solid rgba(255, 255, 255, .6);
}

.second {
display: flex;

  div h2 {
    font-family: $robotoslab;
    color: $darkgray;
    font-size: $genericheaders;
  }

  div p {
    color: $lightgray;
  }
}

.third {
display: flex;

  div h2 {
    font-family: $robotoslab;
    color: $darkgray;
    font-size: $genericheaders;
  }

  div p {
    color: $lightgray;
  }
}

.fourth {
display: flex;

  div h2 {
    font-family: $robotoslab;
    color: $darkgray;
    font-size: $genericheaders;
  }

  div p {
    color: $lightgray;
  }
}
