@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Open-Sans:300,600|Pacifico');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body{
  font-family: Montserrat, sans-serif;
}
.btn{
  border: solid 1px lightgrey;
  background-color: white;
  padding: 15px 20px;
  font-weight: bold;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: inherit;
}
.btn-cta{
  background-color: hsl(9, 89%, 67%);
  border: none;
  color: white;
  text-decoration: none;
}
h1{
  margin: 0;
  font-family: Pacifico, cursive;
  color: hsl(9, 89%, 67%);
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: fixed;
  background-color: white;
  width: 100%;
  box-sizing: border-box;
}
nav div{
  position: absolute;
  top: 0;
  left: -500px;
  background-color: hsl(193, 68%, 45%);
  width: 250px;
  height: 100vh;
  transition: all 150ms ease-out;
}
nav div.open {
  left: 0px;
}
nav li{
  border-bottom: hsla(0, 0%, 100%, 0.25);
  display: flex;
}
nav a{

}
#hero{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url(../img/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 0 100px;
}
#hero div{
  width: 75%;
}
#hero btn-cta{
  display: inline-block;

}
p{
  color: grey;
}
.sec1{
  width: 100%;
  display: flex;
}
.sec1 div{
  display: flex;
  justify-content: center;
}


#circle {
  align-items: center;
  justify-content: center;
  margin-top: 100px;
	border-radius: 50%;
	width:300px;
	height:300px;
}

.sec2{
  background-color: hsla(9, 89%, 67%, 1);
  height: 300px;

}
.sec2 div{
justify-content: center;
text-align: center;
}
.sec2 h3{
  font-size: 25px;
  padding-top: 60px;
  color: white;
}
.sec2 h4{
  padding-top: 15px;
  color: white;
  font-size: 15px;
  font-family: Open-sans, sans-serif;
}
.sec2 p {
  padding-left: 270px;
  font-family: Open-sans, sans-serif;
  color: lightgrey;
  width: 700px;
  justify-content: center;
  text-align: center;
}
